<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <p>&copy; <%= new Date().getFullYear() %> <%= __('colegio_nombre') %></p>
                <p><%= __('cumple_rgpd') %></p>
            </div>
            
            <div class="footer-links">
                <a href="/aviso-privacidad"><%= __('aviso_privacidad') %></a>
                <a href="#"><%= __('contacto') %></a>
            </div>
        </div>
    </div>
</footer>